.fern-header .fern-button.filled .fa-icon {
  height: 10px !important;
  width: 10px !important;
}

.fern-header * {
  font-weight: 500;
}

/* for a grid of videos */

.video-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Spacing between videos */
}

.video-grid iframe,
.video-grid a {
  flex: 0 0 calc(50% - 20px); /* Flex grow is 0, basis is 50% minus the gap */
  aspect-ratio: 560 / 315; /* Maintain the aspect ratio of 16:9 */
  max-width: calc(50% - 20px); /* Max width is also set to 50% minus the gap */
  height: auto; /* Allow height to auto adjust based on aspect ratio */
}

.video-grid a {
  aspect-ratio: 1;
}

@media (max-width: 600px) {
  .video-grid iframe {
    flex: 0 0 100%; /* Flex grow is 0, basis is 100% */
    max-width: 100%; /* Allow max-width to be full width on mobile */
  }
}

.card-img {
  height: 200px;
  object-fit: contain;
  margin: auto;
  background: white; /*TODO: change color as per theme*/
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  text-align: center;
}

.card-content > h3 {
  margin: 16px 0 8px 0;
  font-size: 1.5em;
  text-align: center;
}

.card-content > p {
  font-size: 1em;
  text-align: center;
}

.video-embed-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

.video-embed-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#\/api-reference\/webhooks\/server-message\#request h3 + div:first-of-type > div:first-of-type  {
  display: none;
}

#\/api-reference\/webhooks\/server-message\#request h3 + div:first-of-type:before  {
  content: "Vapi will make a request to your server with the following object:";
  font-size: .875rem;
}

:is(.light) #\/api-reference\/webhooks\/server-message\#request h3 + div:first-of-type:before {
  color: #0008059f;
}

:is(.dark) #\/api-reference\/webhooks\/server-message\#request h3 + div:first-of-type:before {
  color: #f6f5ffb6;
}

#\/api-reference\/webhooks\/client-message\#request h3 + div:first-of-type > div:first-of-type  {
  display: none;
}

#\/api-reference\/webhooks\/client-message\#request h3 + div:first-of-type:before  {
  content: "Vapi will make a request to your server with the following object:";
  font-size: .875rem;
}

:is(.light) #\/api-reference\/webhooks\/client-message\#request h3 + div:first-of-type:before {
  color: #0008059f;
}

:is(.dark) #\/api-reference\/webhooks\/client-message\#request h3 + div:first-of-type:before {
  color: #f6f5ffb6;
}

:is(.dark) #fern-header .fern-mdx-link {
  color: #0008059f;
  text-decoration-color: #0008059f;
}

.clipped-background {
  top: 0 !important;
}