name: Update Trieve

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Trieve Fern Adapter
        run: npm install -g @zobeir/trieve-fern-adapter@latest

      - name: Update Trieve Chunks 
        env:
          TRIEVE_API_HOST: ${{ secrets.TRIEVE_API_HOST }}
          TRIEVE_API_KEY: ${{ secrets.TRIEVE_API_KEY }}
          TRIEVE_ORGANIZATION_ID: ${{ secrets.TRIEVE_ORGANIZATION_ID }}
          TRIEVE_DATASET_TRACKING_ID: ${{ secrets.TRIEVE_DATASET_TRACKING_ID }}
        run: trieve-fern-adapter --file fern/docs.yml -s https://api.vapi.ai/api-json -r https://docs.vapi.ai -a api-reference